* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    --darkpurple: #3B2E5A;
    --medblue: #394989;
    --paleyellow: #FFF48F;
    --lightaccent: #ecf0f1;
    --darkaccent: #1d1f20;
}

.main-content {
    position: relative;
    background-color: var(--lightaccent);
    min-height: 100vh;
    top: 0;
    left: 280px;
    /* transition: all 0.25s ease; */
    width: calc(100% - 280px);
    overflow: auto;
}

@media (max-width: 768px) {
    .main-content {
        width: 100%;
        position: static;
        top: 55px;
        left: 0;
    }

    #contact-buttons {
        display: block !important;
    }

    #contact-buttons button {
        margin: 5px 0;
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    #card-2 {
        padding-top: 16px;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 280px;
    background-color: var(--darkpurple);
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
}

.navbar {
    background-color: var(--darkpurple);
}

p {
    color: var(--darkaccent);
}

h3 {
    color: var(--paleyellow);
    font-size:large;
    text-align: center;
}

.sidebar > hr {
    color: var(--lightaccent);
    padding-bottom: 5px;
}

.nav-link.active {
    background-color: var(--paleyellow) !important;
    color: var(--darkaccent) !important;
  }

.nav-link:hover {
    background-color: var(--medblue);
    color: var(--lightaccent);
  }

  .nav-link {
    color: var(--lightaccent);
  }

  p > span {
    color: var(--darkpurple);
    font-weight: 600;
  }

#about {
    background-color: whitesmoke;
}

#code {
    color: var(--darkpurple);
    text-decoration: none;
    font-weight: 600;
}

.card-header {
    background-color: var(--medblue) !important;
    color: var(--lightaccent);
}

.card-footer {
    background-color: whitesmoke !important;
    color: var(--darkaccent);
    border-color: var(--darkaccent);
}

.btn-outline-secondary:hover {
    background-color: var(--darkpurple);
    color: var(--lightaccent);
}

.btn-primary {
    background-color: var(--medblue);
    color: var(--lightaccent);
    border-color: var(--lightaccent);
}

.btn-primary:hover {
    background-color: var(--paleyellow);
    color: var(--darkaccent);
    border-color: var(--darkaccent);
}

footer a > svg {
    color: var(--darkpurple);
}

footer span > a:hover, footer a > svg:hover {
    color: var(--medblue) !important;
}

#avatar, .mini-avatar {
    background-color: #fff48f;
    border-radius: 50%;
    border: 1px solid #3B2E5A;
}

.navbar span, #offcanvasSidebarLabel {
    color: var(--lightaccent);
}

.sidebar > a {
    text-align: center;
}

.navbar-toggler {
    background-color: var(--lightaccent);
}

#offcanvasSidebar {
    background-color: var(--darkpurple);
}

#title {
    text-align: left;
}

#offcanvasSidebarLabel > span {
    color: var(--paleyellow);
    font-size: large;
}

#project-stack-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content;
}

#project-stack-icons img {
    width: 20px;
    height: 20px;
}